extends layout

block content
  h1= title
  ul.list-group
    each users, i in user
      li.list-group-item= users.firstName
      li.list-group-item= users.LastName
      li.list-group-item= users.email