extends layout

block content
    form.form-signin(method='POST' action='users/post')
        .form-label-group
            input.form-control(type='String', placeholder='First Name', name='first', required='', autofocus='')
        .form-label-group
            input.form-control(type='String', placeholder='Last Name',name='last', required='')
        .form-label-group
            input.form-control(type='email', placeholder='email', name='email', required='')
        .form-label-group
            input.form-control(type='password', placeholder='Password', name='password', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit